@charset "UTF-8";
/* --------------------------------------------------------------
 * typography.css
 * Website typography setup.
-----------------------------------------------------------------
 * Subject: 	Agizo Solutions CSS
 * Author: 	  Jonathan Cleary
 * Date: 		  2018-03-29
 * Ver: 	    0.3.8
-------------------------------------------------------------- */


/* San Francisco
-------------------------------------------------------------- */
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Heavy.woff') format('woff');
	font-weight: 800;
	font-style: normal; }
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Bold.woff') format('woff');
	font-weight: 700;
	font-style: normal; }
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Semibold.woff') format('woff');
	font-weight: 600;
	font-style: normal; }
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Medium.woff') format('woff');
	font-weight: 500;
	font-style: normal; }
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Regular.woff') format('woff');
	font-weight: 400;
	font-style: normal; }
@font-face {
	font-family: 'SF-Pro-Display';
	src: url('../fonts/SF-Pro-Display/SF-Pro-Display-Light.woff') format('woff');
	font-weight: 300;
	font-style: normal; }


/* Default Settings
-------------------------------------------------------------- */
html {
  font-size: 100%;
	font-size: calc(.16rem + 1vw);
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  	 -moz-text-size-adjust: 100%;
  		-ms-text-size-adjust: 100%; }

html, body, 
h1, h2, h3, h4, h5, h6, 
p, div, span, ul, ol, li {
	/* font-family: 'SF-Pro-Display', Roboto, sans-serif !important; */
	font-family: 'SF-Pro-Display', sans-serif !important; 
}


/* Typography
-------------------------------------------------------------- */
body {
  margin: 0;
	color: #666;
	line-height: 1.8;
	font-size: 1.1rem;
	-webkit-font-kerning: normal !important;
	        font-kerning: normal !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility;
	-webkit-font-feature-settings: "pnum"1, "zero"1, "kern"1, "liga"1, "dlig"1, "hlig"1, "clig"1;
     -moz-font-feature-settings: "pnum"1, "zero"1, "kern"1, "liga"1, "dlig"1, "hlig"1, "clig"1;
      -ms-font-feature-settings: "pnum"1, "zero"1, "kern"1, "liga"1, "dlig"1, "hlig"1, "clig"1;
       -o-font-feature-settings: "pnum"1, "zero"1, "kern"1, "liga"1, "dlig"1, "hlig"1, "clig"1;
          font-feature-settings: "pnum"1, "zero"1, "kern"1, "liga"1, "dlig"1, "hlig"1, "clig"1; }
  body, input, button {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale; }

p {
	margin: 1rem 0;
  line-height: 1.7;
	font-size: 1.15rem;
  font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
  text-rendering: optimizeLegibility }
  p.para-std, 
  p .para-std {
    color: #555;
    font-size: 1.2rem !important;
    line-height: 1.75 !important; }
  p.para-intro, 
  p .para-intro {
    color: #444;
    -webkit-hyphens: auto;
       -moz-hyphens: auto;
        -ms-hyphens: auto;
            hyphens: auto;
    font-size: 1.5rem;
    line-height: 1.875 !important; }

blockquote, q {
	font-family: 'Playfair Display', serif;
	font-style: normal; }


/* Headings
-------------------------------------------------------------- */
h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
	color: #333;
  line-height: 1.2;
  font-style: normal;
  margin: 1.75rem 0 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	text-rendering: optimizeLegibility; }

h1,
.h1 {
	font-size: 4.75rem !important;
	font-weight: 300;
	line-height: 1 !important;
	letter-spacing: -.25rem; }
h2,
.h2 {
	color: #4d4d4d;
	font-size: 2.5rem !important;
	font-weight: 300 !important;
	letter-spacing: -.025rem; }
h3,
.h3,
.icon-title {
	color: #444;
	font-size: 2rem !important;
	font-weight: 300 !important;
	letter-spacing: -.025rem; }
h4,
.h4,
.sub-title {
	font-family: Poppins !important;
	font-size: 1rem !important;
	font-weight: 600 !important;
	letter-spacing: 0.75rem !important;
	text-transform: uppercase !important; }
h5,
.h5 {
	font-size: 1.25rem;
	font-weight: 500;
	letter-spacing: .5rem; }
h6,
.h6 {
	font-size: 1.75rem !important;
	font-weight: 700;
	letter-spacing: normal; }


@media (max-width: 339px) {
  h1, .h1 {
	  font-weight: 300;
    font-size: 2.25rem;
	  letter-spacing: normal; }
  h2, .h2 {
    font-size: 1.75rem;
	  letter-spacing: normal; }
  h3, .h3 {
    font-size: 1.25rem;
	  letter-spacing: normal; } }


/* Unique Header
-------------------------------------------------------------- */
.page-title, 
h1.page-title, 
h1 .page-title, 
.h1.page-title {
	font-size: 6rem !important;
	font-weight: 800 !important;
	letter-spacing: -.3rem !important; }

